<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP</title>
    </head>

    <body>

        <header>
            <div class="">
                <img src="images/nlp.jpg" alt="nlp"/>
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <label class="title" for="name">URL:
                    </label>
                    <input id="name" type="text" name="input" value="" placeholder="Name">
                    <input id="submit" type="submit" name="" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                    <p id="error" class="error" hidden>Please input a valid URL</p>
                </form>
                <section>

                    <section class="results">
                        <strong class="title">NLP Results:</strong>
                        <ul type="circle">
                            <li>
                                <div id="subjectivity"></div>
                            </li>
                            <li>
                                <div id="score"></div>
                            </li>
                            <li>
                                <div id="agreement"></div>
                            </li>
                            <li>
                                <div id="confidence"></div>
                            </li>
                            <li>
                                <div id="irony"></div>
                            </li>
                        </ul>
                    </section>
                </main>

                <footer class="footer">
                    <h3>Contact Me
                    </h3>
                    <a href="https://github.com/esraaMohamed">
                        <img class="logos" src="images/github.jpg" alt="Github">
                    </a>
                    <a href="https://www.facebook.com/No0oU">
                        <img class="logos" src="images/facebook.png" alt="Facebook">
                    </a>
                    <a href="https://www.linkedin.com/in/esraa-afifi/">
                        <img class="logos" src="images/linkedin.png" alt="LinkedIn">
                    </a>
                </footer>
                <script>
                    // Check that service workers are supported
                    if ('serviceWorker' in navigator) { // Use the window load event to keep the page load performant
                        window.addEventListener('load', () => {
                            navigator.serviceWorker.register('/service-worker.js');
                        });
                    }
                </script>
            </body>
        </html>
    </body>
</html>
